.center-content {
    display: flex;
    justify-content: center; /* This will center the content horizontally */
    align-items: flex-start; /* This will align the content to the top */
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    z-index: -1;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Add this line */
    margin-top: 150px;
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .basic-info {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    align-self: flex-start;
    width: 20%;
  }

  .basic-info img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 60%;
    margin: 0 auto; /* Add this line */
  }

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
  }
  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }